.filter-list {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0.5rem 1rem;
  border-bottom: 0.3rem solid  #4c4c4c;
}
.filter-list ul {
  margin-bottom: -0.15rem;
  font-size: 0;
}
.filter-list li {
  display: inline-block;
  overflow: hidden;
  width: 25%;
  height: 26rem;
  padding: 0 0.1rem;
  box-sizing: border-box;
}
@media screen and (min-height: 600px) {
  .filter-view {
    height: 32rem;
  }
}
@media screen and (min-height: 700px) {
  .filter-view {
    height: 35rem;
  }
}
