.waterIntake {
  position: relative;
  margin: 3.5rem 0 0.4rem;
  color: #8c8c8c;
  font-size: 1.2rem;
}
.waterIntake .show-water {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.waterIntake .show-water h5 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -2.9rem;
  color: #464646;
  font-weight: normal;
  font-size: 5.8rem;
  font-family: 'CenturyGothic';
  text-align: center;
}
.waterIntake .show-water h5 b {
  font-weight: normal;
}
.waterIntake .show-water h5 span {
  font-size: 1.5rem;
}
.waterIntake .show-water img {
  width: 100%;
}
.waterIntake .user-head {
  position: absolute;
  top: -2rem;
  right: 1rem;
  text-align: center;
}
.waterIntake .user-head a {
  display: block;
  width: 4rem;
  height: 4rem;
  margin-bottom: .5rem;
  border: .4rem solid #606060;
  border-radius: 100%;
  box-shadow: 0 .2rem .6em #848484;
}
.waterIntake .user-head a img {
  width: 100%;
}
.waterIntake .every-day-info {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  text-align: center;
}
.waterIntake .every-day-info a {
  display: block;
  width: 3.8rem;
}
.waterIntake .every-day-info a img {
  width: 100%;
}
.time-quantum {
  position: relative;
  background-color: #f6f6f6;
  color: #a8a8a8;
}
.time-quantum:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.1rem;
  height: 100%;
  margin-left: 0.05rem;
  background-color: #c8c8c8;
  content: "";
}
.time-quantum .icon-upward,
.time-quantum .icon-downward {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  z-index: 1;
  margin-top: -2rem;
}
.time-quantum .icon-downward {
  margin-top: 0rem;
}
.time-quantum ul {
  overflow: auto;
  position: relative;
  min-height: 15rem;
}
.time-quantum li {
  position: relative;
  width: 50%;
  min-height: 4rem;
  margin-top: -1rem;
  padding-right: 5.5rem;
  box-sizing: border-box;
  text-align: right;
}
.time-quantum li:first-child {
  margin-top: 0;
}
.time-quantum li:before {
  position: absolute;
  top: 50%;
  right: -0.3rem;
  width: 1.7rem;
  height: 0.1rem;
  margin-top: -0.1rem;
  background-color: #aaa;
  content: "";
}
.time-quantum li time {
  display: block;
  position: absolute;
  top: 0;
  right: -4.7rem;
  width: 4rem;
  line-height: 4rem;
  text-align: left;
}
.time-quantum li .icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  margin-top: -2rem;
  border: .3rem solid #dcdcdc;
  border-radius: 100%;
  background: url("../../images/drinkingWater/icon-water.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.time-quantum li .icon i {
  width: 100%;
  height: 100%;
}
.time-quantum li h4 {
  display: inline-block;
  padding-top: 0.8rem;
  font-size: 2rem;
  text-align: left;
  transform: scale(0.75, 0.75);
}
.time-quantum li h4 span {
  display: block;
  font-size: 1.2rem;
}
.time-quantum li.right {
  left: 50%;
  padding: 0 0 0 6rem;
  text-align: left;
}
.time-quantum li.right:before {
  right: inherit;
  left: -0.1rem;
}
.time-quantum li.right time {
  right: inherit;
  left: -4.4rem;
  text-align: right;
}
.time-quantum li.right .icon {
  right: inherit;
  left: 2rem;
}
.time-quantum li.right h4 {
  text-align: right;
}
.time-quantum-top-bg,
.time-quantum-bottom-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url("../../images/drinkingWater/time-quantum-top-bg.png") repeat-x;
  opacity: 0.25;
}
.time-quantum-bottom-bg {
  top: inherit;
  bottom: 0;
  background: url("../../images/drinkingWater/time-quantum-bottom-bg.png") repeat-x;
}
.every-day-article {
  padding-bottom: 2rem;
}
.every-day-article header {
  position: relative;
  padding: 0.5rem;
}
.every-day-article header img {
  width: 100%;
}
.every-day-article h2 {
  padding: 1.5rem 1rem 0.5rem 6rem;
  color: #bebebe;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}
.every-day-article h2 span {
  color: #ea6697;
}
.every-day-article h2 b {
  padding-right: 1.2rem;
  font-size: 2.5rem;
}
.every-day-article .paragraph {
  padding: 1rem 1.5rem 0;
  color: #868686;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.every-day-article .paragraph.indent {
  line-height: 2rem;
  text-indent: 2em;
}
.every-day-article .paragraph .first-text {
  color: #ea6697;
  font-size: 1.8rem;
}
.close-everyDay {
  position: absolute;
  bottom: -5rem;
  left: 0.4rem;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  padding: 0.45rem;
  border-radius: 100%;
  background-color: #fff;
}
.close-everyDay:before {
  display: inline-block;
  position: relative;
  top: -0.25rem;
  left: -0.25rem;
  z-index: 2;
  width: 5rem;
  height: 5rem;
  background: url("../../images/drinkingWater/icon-close-everyh-day.png") no-repeat;
  background-size: 100% 100%;
  content: "";
}
.close-everyDay:after {
  position: absolute;
  top: 0rem;
  left: -3rem;
  width: 6rem;
  height: 4.86rem;
  background-color: #fff;
  content: "";
}
.user-info {
  overflow: hidden;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #565656;
}
.user-info h3 {
  padding-top: 3rem;
  color: #fff;
  font-weight: normal;
  font-size: 2.5rem;
  text-shadow: 0 0 2px #999;
  text-align: center;
}
.user-info ul {
  padding-top: 3.5rem;
  text-align: center;
}
.user-info li {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 3.2rem;
  margin: 0.5rem 0.8rem;
  text-shadow: 0 0 2px #333;
  text-align: left;
}
.user-info li h5 {
  color: #b6b6b6;
  font-size: 1.2rem;
}
.user-info li b {
  display: block;
  padding: 0.2rem 0 0 2rem;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}
.user-info li b span {
  padding-left: 0.5rem;
  color: #d2d2d2;
  font-size: 1.5rem;
}
.user-info li input {
  display: block;
  width: 100%;
  padding: 0.2rem 0 0 2rem;
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
.user-info li .portrait {
  float: left;
  width: 3.5rem;
  height: 3.5rem;
  margin: -0.6rem 0 0 -1rem;
}
.user-info li .icon-boy {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.5rem;
}
.user-info li.nickname,
.user-info li.age {
  height: 6rem;
}
.user-info li.nickname h5,
.user-info li.age h5 {
  padding-left: 4rem;
  color: #999;
  font-size: 1rem;
}
.user-info li.nickname b,
.user-info li.age b {
  font-size: 1.6rem;
  text-align: right;
}
.user-info li.age h5 {
  padding-left: 1rem;
}
.user-info li.age b {
  padding-left: 3.5rem;
  text-align: left;
}
.user-info .line-bottom:before {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #7f7f7f;
  content: "";
}
.user-info .line-right:after {
  position: absolute;
  top: 0;
  right: -1rem;
  width: 0.1rem;
  height: 100%;
  background-color: #7f7f7f;
  content: "";
}
.Drink-water-records {
  position: relative;
  width: 100%;
  height: 22rem;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
.Drink-water-records .summary {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
}
.Drink-water-records .summary dl {
  color: #999;
}
.Drink-water-records .summary dt {
  padding: 0 0 0.5rem 1rem;
  font-size: 1.5rem;
}
.Drink-water-records .summary dd {
  height: 6.5rem;
  padding-left: 1.2rem;
  color: #3f3f3f;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'CenturyGothic';
}
.Drink-water-records .summary dd strong {
  margin-right: .2rem;
  color: #0886a5;
  font-size: 6.5rem;
  font-weight: normal;
}
.submenu-bar {
  position: relative;
  height: 4.55rem;
  padding-top: 0.1rem;
  font-size: 0;
  box-sizing: border-box;
}
.submenu-bar input {
  width: 33%;
  height: 97%;
  margin-right: 0.5%;
  border: 0;
  background-color: #f3f3f3;
  box-sizing: border-box;
  color: #8b8b8b;
  font-size: 2rem;
}
.submenu-bar input:last-child {
  margin-right: 0;
}
.submenu-bar input.active {
  border-bottom: 0.1rem solid #fff;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.close-userInfo {
  position: absolute;
  top: 8.1rem;
  right: 0.4rem;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  padding: 0.45rem;
  border-radius: 100%;
  background-color: #fff;
}
.close-userInfo:before {
  display: inline-block;
  position: relative;
  top: -0.4rem;
  left: -0.48rem;
  z-index: 2;
  width: 5rem;
  height: 5rem;
  background: url("../../images/drinkingWater/icon-close-user-info.png") no-repeat;
  background-size: 100% 100%;
  content: "";
}
.close-userInfo:after {
  position: absolute;
  top: .02rem;
  left: 2rem;
  width: 6rem;
  height: 4.9rem;
  background-color: #fff;
  content: "";
}
