<!DOCTYPE html>
<html>
<head>
    <title>方太净水器</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/public/style.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<main id="main" class="clearfix">
    <div class="main-header">
        <section class="section-caption special">
            <a href="javascript:void(0)" data-href="set.html" title="" class="defaultClick icon icon-remove4 back"></a>
            <h2>缓存清除</h2>
        </section>
    </div>
    <div class="main-other verify">
        <!--版本自动更新-->
        <div class="info-status">
            <div class="box">
                <div class="pr">
                    <canvas id="loading" class="icon"></canvas>
                    <span class="loading-text">0%</span>
                </div>
                <h5>加载中</h5>
                <!--<i class="icon-wifi-success"></i>
                <h5>目前为最新版本<span>目前版本：1.1.1</span></h5>-->
            </div>
        </div>
        <div class="list-info hide">
            <ul>
                <li class="link">
                    <div class="box">
                        清除1年前的数据<span>45MB</span>
                    </div>
                </li>
                <li class="link">
                    <div class="box">
                        清除3个月前的数据<span>10MB</span>
                    </div>
                </li>
                <li class="link">
                    <div class="box">
                        全部清除<span>50MB</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
<script src="../js/plugIn/jquery-1.11.3.min.js"></script>
<script src="../js/public/loading.js"></script>
<script src="../js/plugIn/UARTDATA.js"></script>

<script src="../js/public/base.js"></script>
<script src="../js/clean-cache.js"></script>
</html>