<!DOCTYPE html>
<html>
<head>
    <title>方太净水器</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/public/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <canvas id="login-bg"></canvas>
    <div class="login">
        <div class="user-portrait">
            <img src="../images/public/photo_0001.png" alt=""/>
        </div>
        <ul>
            <li>
                <label>
                    <i class="icon-account"></i><input class="input" placeholder="请填写账号" value=""/>
                </label>
            </li>
            <li>
                <label>
                    <i class="icon-password"></i><input class="input" placeholder="请填写密码" value=""/>
                </label>
            </li>
            <li id="login-btn">
                <input type="button" value="登陆" onclick="location.href='index.html'"/>
            </li>
            <li >
                <input type="button" value="本地登陆" onclick="location.href='index.html'"/>
            </li>
        </ul>
        <a class="register" href="javascript:void(0)" title="">注册</a>
        <a class="forgetPassword" href="javascript:void(0)" title="">忘记密码</a>
    </div>
</body>
<script src="../js/plugIn/jquery-1.11.3.min.js"></script>
<script src="../js/plugIn/UARTDATA.js"></script>

<script src="../js/public/base.js"></script>
<script src="../js/login.js"></script>
</html>