<!DOCTYPE html>
<html>
<head>
    <title>方太净水器</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/public/style.css">
</head>
<body>
<a class="icon-home backTo" href="javascript:void(0)" data-href="index.html" title="回到主页"></a>  
<main id="main" class="clearfix">
    <div class="main-header clearfix">
        <section>
            <h2 class="caption"><span>WLAN</span>连接</h2>
        </section>
    </div>
    <div class="main-other wifi"><!--in-service-->
        <div class="wifi-main">
            <div class="wifi-status">
                <i class="icon-wifi icon"></i>
                <canvas id="loading" class="icon hide"></canvas>
                <i class="icon-wifi-success icon hide"></i>
                <i class="icon-wifi-defeated icon hide"></i>
                <span>请选择一个可以用的WLAN</span>
            </div>
            <!--账号密码-->
            <div class="account">
                <ul>
                    <li>
                        <input class="input account-name" disabled placeholder="" value="FOTILE-GUEST"/>
                        <i class="icon icon-down"></i>
                    </li>
                    <li>
                        <input type="password" class="input account-password" placeholder="请填写密码" value=""/>
                        <i class="icon icon-eye"></i>
                    </li>
                    <li>
                        <b class="remember-password"><i></i>下次记住密码</b>
                    </li>
                </ul>
            </div>
        </div>
        <!--底部按扭-->
        <div class="wifi-tools-btn defaultClick" data-status="link"><input type="button" value="确定"/></div>
    </div>
</main>
</body>
<script src="../js/plugIn/jquery-1.11.3.min.js"></script>
<script src="../js/public/loading.js"></script>
<script src="../js/plugIn/UARTDATA.js"></script>

<script src="../js/public/base.js"></script>
<script src="../js/wifi.js"></script>
</html>
